<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" type="image/svg_xml" href="/crypto.ico" /> -->
    <title>Index</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>

  <body>
    <h1>Index Page</h1>
    <p>Static File Server Flow</p>
    <p>- Server Request (e.g., GET from: http://localhost:port)</p>
    <p>- Routes, using '/' or '/index.js' from the request</p>
    <p>- Views, responding with an html 'index.js' file</p>
  </body>
</html>
