/* .navbar, */
.main-view,
.sidebar,
.main-header,
.main-footer {
  background-color: var(--body);
}

.main-header {
  grid-area: header;
}

.main-view {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar .card-btn {
  width: 100%;
  background-color: transparent;
  color: var(--light);
  border: none;
}

.sidebar:hover .card-btn:hover {
  background-color: var(--info);
}

.main-footer {
  grid-area: footer;
}

.dashboard-container {
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  gap: 10px;
  grid-template-columns: 7% auto;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
}

@media only screen and (max-width: 1900px) {
}

@media only screen and (max-width: 1500px) {
  /* .dashboard-container {
    grid-template-areas:
      "header header"
      "sidebar main "
      "sidebar footer";
  } */
}

@media only screen and (max-width: 1000px) {
  /* .dashboard-container {
    grid-template-areas:
      "header header"
      "sidebar main "
      "sidebar footer";
  } */
}
