/* .navbar, */
.main-view,
.sidebar,
.main-header,
.main-footer {
  background-color: var(--body-golden);
}

.main-header {
  grid-area: header;
  background-image: url("../assets/golden_abstract_top.png");
  background-size: cover;
}

.main-view {
  min-height: 20rem;
  grid-area: main;
  padding: 1em;
  background-size: cover;
}

.sidebar {
  grid-area: sidebar;
  width: 7rem;
  background-image: url("../assets/golden_abstract.png");
}

.sidebar .card-btn {
  width: 5.5rem;
  background-color: transparent;
  color: var(--light);
  border: none;
  background-size: cover;
}

.sidebar:hover .card-btn:hover {
  background-color: var(--body-light-gold);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
}

.main-footer {
  grid-area: footer;
  padding: 1em;
  background-image: url("../assets/golden_abstract_bottom.png");
}

.dashboard-container {
  display: grid;
  overflow-x: hidden;
  /* overflow: scroll; */
  gap: 1.5rem;
  grid-template-columns: 5fr 95fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
}

@media only screen and (max-width: 1900px) {
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1000px) {
}
