/* .navbar, */
.main-view,
.sidebar,
.main-header,
.main-footer {
  background-color: var(--body);
}

.main-header {
  grid-area: header;
}

.main-view {
  grid-area: main;
  padding: 1em;
}

.sidebar {
  grid-area: sidebar;
  width: 7rem;
}

.sidebar .card-btn {
  width: 5rem;
  background-color: transparent;
  color: var(--light);
  border: none;
}

.sidebar:hover .card-btn:hover {
  background-color: var(--info);
}

.main-footer {
  grid-area: footer;
  padding: 1em;
}

.dashboard-container {
  display: grid;
  padding: 0 1em;
  overflow: scroll;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  gap: 1rem;
  grid-template-columns: 5fr 95fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
}

@media only screen and (max-width: 1900px) {
}

@media only screen and (max-width: 1500px) {
  /* .dashboard-container {
    grid-template-areas:
      "header header"
      "sidebar main "
      "sidebar footer";
  } */
}

@media only screen and (max-width: 1000px) {
  /* .dashboard-container {
    grid-template-areas:
      "header header"
      "sidebar main "
      "sidebar footer";
  } */
}
