.main-view,
.sidebar,
.main-header,
.main-footer {
  background-color: var(--blue-bg);
}

.main-header {
  grid-area: header;
  background-size: cover;
  border-radius: 0.5em;
  padding-top: 1em;
}

.main-view {
  grid-area: main;
  border-radius: 0.5em;
}

.sidebar {
  grid-area: sidebar;
  width: 7rem;
  background-size: cover;
  background-position: center;
  border-radius: 0.5em;
}

.sidebar .card-btn {
  width: 5.5rem;
  background-color: transparent;
  color: var(--light);
  border: none;
  font-size: 20px;
}

.sidebar:hover .card-btn:hover {
  background-color: var(--blue-light);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
}

.sidebar-main-view {
  margin-top: 1rem;
  font-size: large;
}

.main-footer {
  grid-area: footer;
  padding: 2em;
  background-size: cover;
  background-position: bottom;
  border-radius: 0.5em;
}

.dashboard-container {
  margin: 0 1rem;
  display: grid;
  overflow-x: hidden;
  gap: 1rem;
  grid-template-columns: 5fr 95fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
}

@media only screen and (max-width: 1900px) {
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1000px) {
}
