.table-container {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.table {
  background-color: var(--black);
  color: var(--light);
  border-spacing: 0;
  width: 100%;
  border-radius: 0.5em;
}

.table-head {
  height: 3em;
  vertical-align: middle;
}

.table-header:hover {
  color: var(--blue-light);
}

.table-row {
  vertical-align: middle;
}

.table-row:hover {
  background-color: var(--blue-light);
}

.table-icon {
  background-color: var(--blue-light);
  max-width: 4em;
  max-height: auto;
}

.fixed-head {
  position: sticky;
  top: 0;
  z-index: 100;
}

.scrollable-body {
  overflow-x: hidden;
  height: calc(100vh - 500px); 
  overflow: auto;
}