/* NetFlix Style Slider */
/* npm library: https://www.npmjs.com/package/netslider */

.arrow-left {
  min-width: 3em;
  min-height: 3em;
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 14%;
  right: 0;
  color: var(--light);
}

.arrow-right {
  min-width: 3em;
  min-height: 3em;
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 90%;
  right: 0;
  color: var(--light);
}

.arrow-left:hover,
.arrow-right:hover {
  color: var(--grey-light);
}

.card-img {
  max-width: 75%;
  background-color: var(--grey-light);
  padding: 1.5em;
  margin-top: 1em;
  border-radius: 1em;
}

.card-body {
  margin: 0 auto;
}

.media-row {
  padding: 1rem;
  overflow: scroll;
  position: relative;
  scrollbar-width: none;

}

.media-row::-webkit-scrollbar {
  display: none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.media-card {
  min-width: 185px;
  max-width: 12%;
  background-color: var(--off-black);
  border-radius: 1rem;
  border: 1px solid var(--grey-light);
  margin: 0.5rem;
  /* Calling slideInFromLeft animation */
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* INNER Card.Text Grid Styles */

.value-type {
  display: inline-grid;
  font-size: 13px;
  text-align: start;
}

.value {
  display: inline-grid;
  font-size: 13px;
  text-align: end;
  width: 7em;
}

.card-text {
  margin: 0;
}

.card-text-body {
  min-width: 8em;
}

.media-card:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}