/* NetFlix Style Slider */
/* npm library: https://www.npmjs.com/package/netslider */

.media-row {
  gap: 1rem;
}

.card.media-card {
  max-width: 15em;
  background-color: var(--black);
  border-radius: 1rem;
}

/* INNER Card.Text Grid Styles */

.value-type {
  grid-area: left;
}

.value {
  grid-area: right;
}

.card-grid {
  display: grid;
  max-width: 100%;
  min-width: 1px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left right";
}

.card-text {
  margin: 0;
}
