/* NetFlix Style Slider */
/* npm library: https://www.npmjs.com/package/netslider */

.card-container {
}

.row.media-cards {
  grid-auto-columns: 1fr ;
  max-width: 100%; 
  min-width: 10%;
  gap: 1rem;
}

.row > .col {
  background-color: var(--primary);
  border: 1px solid var(--light);
}

.card.media-element {
  border: 1px solid var(--light);
  background-color: var(--black);
}

.card-img {
  border: 1px solid var(--light);
}









/* INNER Card.Text Grid Styles */
.value-type {
  grid-area: left;
}

.value {
  grid-area: right;
}

.card-grid {
  border: 1px solid var(--light);
  display: grid;
  max-width: 100%;
  min-width: 1px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left right";
}

.card-text {
  margin: 0;
}
